@using AracIhaleSistemi.UI.ViewModels
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    UyeUpdateVM uye = ViewBag.uye;
}
@model UyeUpdateVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="UyeID" value="@uye.UyeID" />
        <label for="inputName">Ad Soyad</label>
        <input type="text" class="form-control" id="inputName" placeholder="Ad Soyad" asp-for="AdSoyad" value="@uye.AdSoyad">
    </div>
    <div class="form-row">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" placeholder="Email" asp-for="Email" value="@uye.Email">
    </div>
    <div class="form-group">
        <label for="inputTel">Telefon</label>
        <input type="text" class="form-control" id="inputTel" placeholder="Telefon" asp-for="Telefon" value="@uye.Telefon">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Rolü</label>
            <select asp-for="RolID" class="form-control" id="rol"
                    asp-items="@(new SelectList(ViewBag.cmbRol,"RolID","Rol1"))" value="@uye.RolID">
                <option>Please select one</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Aktif Mi?</label>
            <input type="checkbox" asp-for="AktifMi" value="@uye.AktifMi" />
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>