@using AracIhaleSistemi.UI.ViewModels
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    IEnumerable<KomisyonVM> komisyonlar = ViewBag.komisyonlar;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="col">
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Komisyon Ücreti Tanımalama/Listeleme</h6>
            <h5 class="card-title"></h5>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Komisyon Ücreti Listesi</h6>
                        <h5 class="card-title"></h5>
                    </div>

                    <table class="table table-hover" ">
                        <thead>
                            <tr>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Min.Fiyat</th>
                                <th>MaxFiyat</th>
                                <th>Komisyon Ücreti</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @foreach (var item in komisyonlar)
                            {
                                <tr>
                                    <td>@item.BaslangicTarihi</td>
                                    <td>@item.BitisTarihi</td>
                                    <td>@item.MinFiyat</td>
                                    <td>@item.MaxFiyat</td>
                                    <td>@item.KomisyonUcreti</td>
                                    <td>
                                        @*<a role="button" href="@Url.Action("Update",item)" class="btn btn-primary">Güncelle</a>*@
                                        <button type="button" id="btnSil" class="btn btn-danger" data-toggle="modal" data-id="@item.KomisyonUcretID" data-target="#silModal">Sil</button>
                                        <div class="modal fade" id="silModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <form method="post" id="formId" action="Delete?id=@item.KomisyonUcretID">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Sil</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input type="hidden" name="bookId" id="Id" value="" />
                                                            Kullanıcı silinsin mi?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                            <button type="submit" class="btn btn-danger">Sil</button>/>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-body">
            <br />
            <a class="btn btn-success" href="Add" role="button">Yeni</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

    });
</script>