
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    List<AracIhaleSistemi.UI.ViewModels.AracVM> araclar = ViewBag.AracListe;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AracIhaleSistemi.UI.ViewModels.AracDetayAddVM
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="row">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Genel Bilgiler</h6>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <form method="post" asp-action="AracFiltre">
                                <div class="card-body">

                                    <div class="row">
                                        @*Üye*@
                                        <div class="col">
                                            Üye Ad Soyad
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="form-group row">
                                                        <div class="col-sm-10">
                                                            <input type="text" />
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        @*Statü*@
                                        <div class="col">
                                            Statü
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="form-group row">
                                                        <div class="col-sm-10">
                                                            <select class="form-control" id="durum"
                                                                    asp-items="@(new SelectList(ViewBag.cmbDurum,"DurumID","DurumAdi"))">
                                                                <option>Please select one</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        @*ön değerleme*@
                                        <div class="col">
                                            Ön Değerleme Fiyatı
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="form-group row">
                                                        <div class="col-sm-10">
                                                            <input type="text" />
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                        @*teklif*@
                                        <div class="col">
                                            Teklif Fiyatı
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="form-group row">
                                                        <div class="col-sm-10">
                                                            <input type="text" />
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Araç Detay Vilgileri</h6>
                <h5 class="card-title"></h5>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <form method="post" asp-action="AracFiltre">
                            <div class="card-body">

                                <div class="row">
                                    @*Araç Markası*@
                                    <div class="col">
                                        Marka
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="Marka" class="form-control" id="marka"
                                                                asp-items="@(new SelectList(ViewBag.cmbMarka,"AracOzellikID","OzellikAdi"))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    @*Araç Modeli*@
                                    <div class="col">
                                        Model
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="Model" class="form-control" id="model"
                                                                asp-items="@(new SelectList(""))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    @*Gövde Tipi*@
                                    <div class="col">
                                        Gövde Tipi
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="GovdeTipi" class="form-control"
                                                                asp-items="@(new SelectList(ViewBag.cmbGovde,"AracOzellikID","OzellikAdi"))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    @*Yıl*@
                                    <div class="col">
                                        Yıl
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    @*Yakıt Tipi*@
                                    <div class="col">
                                        Yakıt Tipi
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="YakitTipi" class="form-control"
                                                                asp-items="@(new SelectList(ViewBag.cmbYakit,"AracOzellikID","OzellikAdi"))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    @*Vites Tipi*@
                                    <div class="col">
                                        Vites Tipi
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="VitesTipi" class="form-control"
                                                                asp-items="@(new SelectList(ViewBag.cmbVites,"AracOzellikID","OzellikAdi"))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="row">
                                    @*Version*@
                                    <div class="col">
                                        Version
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="Versiyon" class="form-control"
                                                                asp-items="@(new SelectList(ViewBag.cmbVersion,"AracOzellikID","OzellikAdi"))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    @*Kilometre Bilgisi*@
                                    <div class="col">
                                        Km Bilgisi
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="number" />
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    @*Renk*@
                                    <div class="col">
                                        Renk
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="Renk" class="form-control"
                                                                asp-items="@(new SelectList(ViewBag.cmbRenk,"AracOzellikID","OzellikAdi"))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="row">
                                    @*Donanım*@
                                    <div class="col">
                                        Donanım
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <select asp-for="OpsiyonelDonanim" class="form-control" id="marka" multiple=""
                                                                asp-items="@(new SelectList(ViewBag.cmbDonanım,"AracOzellikID","OzellikAdi"))">
                                                            <option>Please select one</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="row">
                                    @*Fotograf*@
                                    <div class="row">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="formFileMultiple" class="form-label">Foto Ekle</label>
                                                            <input class="form-control" type="file" id="formFileMultiple" multiple asp-for="Resim">
                                                        </div>
                                                        <div class="col">
                                                            <label for="floatingTextarea2">Açıklama</label>

                                                            @Html.TextArea("Aciklama", new { @class = "form-control" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <br />
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#silModal">Arac Tarihçe</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#silModal">Hasar Tramer Bilgileri</button>
                <a class="btn btn-success" href="Add" role="button">Kaydet</a>
            </div>


        </div>
    </div>

    <div class="modal fade" id="silModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Araç silinsin mi?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-danger">Sil</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
                $(document).ready(function () {
                    $('#marka').change(function () {
                        var marka = $(this).val();
                        $.ajax({
                            type: "post",
                            url: "ModelGetir?markaId=" + marka,
                            contentType: "html",
                            success: function (response) {
                                console.log(response);
                                $("#model").empty()
                                $('#model').append('<option>Please select one</option>')
                                $.each(response, function (i, item) {

                                    console.log(item);
                                    $('#model').append($('<option>', {
                                        value: item.value,
                                        text: item.text
                                    }));
                                });
                            }
                        })
                    });
                });


</script>

